{% extends 'base.html.twig' %}

{% block title %}Meeting index
{% endblock %}

{% block body %}
	<h1>Meeting index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Uuid</th>
				<th>Host_id</th>
				<th>Host_email</th>
				<th>Topic</th>
				<th>Status</th>
				<th>Start_time</th>
				<th>Duration</th>
				<th>Created_at</th>
				<th>Start_url</th>
				<th>Join_url</th>
				<th>Password</th>
				<th>H323_password</th>
				<th>Pstn_password</th>
				<th>Encrypted_password</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			<tr></tr>
		</tbody>
	</table>
{% endblock %}
